<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.abadrConnectionString" connectionString="Data Source=i2hz68a6p4.database.windows.net;Initial Catalog=abadr;Persist Security Info=True;User ID=abadr;Password=M@nowar18"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>